@model ProjectFutureAdvannced.ViewModels.ListOfInfo
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* start landing  *@
<div class="Landing navbar-dark bg-primary">
    <div class="container">
        <div class="splide" style="width:100%;" id="landingsplide" role="group" aria-label="Splide Basic HTML Example">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide d-flex justify-content-center align-items-center">
                        <div class="row slideLanding">
                            <div class=" slideInfo col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center flex-column pb-4 ">
                                <h1 class="fw-bold headLanding">WELCOME TO ASHTURI</h1>
                                <p class="fsFooter"> Welcome to Ashturi, the leading agency across the board! Discover a wide range of quality products that are sure to meet your needs and exceed your expectations. With a wide range of makes and models, we offer a variety of products to suit every lifestyle and budget. </p>
                                <a class="btn BtnCustom1 Btn">Shop Now</a>
                            </div>
                            <div class="imgAnimation slideImg col-lg-6 col-md-12 col-sm-12">
                                <img src="~/ImagePage/ASHTURI.jpg" />
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide d-flex justify-content-center align-items-center">
                        <div class="row slideLanding">
                            <div class="slideInfo col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center flex-column pb-4">
                                <h1 class="fw-bold headLanding">CATEGORY OF ASHTURI</h1>
                                <p class="txtLanding"> Our team of knowledgeable and friendly professionals is dedicated to providing you with a smooth and enjoyable buying experience for our products. Browse our site and enjoy the perfect experience. </p>                                <a class="btn BtnCustom1 Btn">View Products</a>
                            </div>
                            <div class="imgAnimation slideImg col-lg-6 col-md-12 col-sm-12">
                                <img src="~/ImagePage/ASHTURI.jpg" />
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
@* end landing  *@


<!-- Start Category-->
<div class="categorys">
    <div class="container">
        <div class="headSection d-flex justify-content-center align-items-center flex-column pt-5 pb-5">
            <h6 class="fw-bold headP">Categories</h6>
        </div>
        <div class="row flex-sm-row categorysDiv pb-3">
            @*@{
                int count = 0;
                foreach (var Category in Model.categories)
                    {
                    if (count < 12)
                        {
                        var img = "/CategoryImage/" + Category.CategoryImg;
                        <a asp-action="Store" asp-controller="Home" asp-route-id="@Category.Name" class="categoryInfo col-lg-2 col-md-3 col-sm-4 col-sm-6 d-flex justify-content-center align-items-center flex-column mb-5">
                            <div class="CategoryImage">
                                <img src="@img" asp-append-version="true" alt="Alternate Text" style="width:70px;height:60px" />
                            </div>
                            <h6 class="CategoryName text-muted pt-2">@Category.Name.ToString().Replace("_", " ")</h6>
                        </a>
                        count++;
                        }
                    }


            }*@
        </div>
        <div class="d-flex CategoriesBtn align-items-center gap-4 mb-5">
            <a class="btn BtnCustom3 Btn">More Categories <i class="fa-solid fa-caret-right"></i></a>
        </div>
    </div>
</div>
<!--end Category-->
<!-- LIST OF SHOPER-->
<section style="background-color: #eee;">
    <div class="text-center container py-5">
        <div class="headSection d-flex justify-content-center align-items-center flex-column pt-5 pb-5">
            <h6 class="fw-bold headP">AGENTS</h6>
        </div>
        <div class="row">
            @*@foreach (var shoper in Model.shops)
                {
                var imgs = "/ShopImage/" + shoper.imgShop;
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                            <img src="@imgs" style=" height: 250px;"
                                 class="w-100" />
                            <a href="#!">
                                <div class="hover-overlay">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </div>
                            </a>
                        </div>
                        <div class="card-body shopBady">
                            <div class="d-flex justify-content-center align-items-start flex-column">
                                <h5 class="card-title fw-bold m-0 mb-1">@shoper.ShopName.ToUpper()</h5>
                                <p class="CategorysType  m-0 text-white">@shoper.CategorysType.ToString().Replace("_", " ")</p>
                            </div>
                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                <a class="btn btn-sm btnshoper fw-bold">View Galary <i class="fa-solid fa-caret-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                }*@

        </div>
        <div class="d-flex CategoriesBtn align-items-center gap-4 mb-5">
            <a class="btn BtnCustom3 Btn">More Shoper <i class="fa-solid fa-caret-right"></i></a>
        </div>
    </div>
</section>
@* Start Products *@
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <div class="store-item position-relative text-center">
                    <img class="img-fluid" src="~/ShopImage/R_1.jpg" style="max-height: 237px;" alt="">
                    <div class="p-4">
                        <div class="text-center mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <h4 class="mb-3">L'Oréal Paris</h4>
                        <p>is the world's leading cosmetics brand, making the best of luxury beauty and accessible to everyone.</p>
                        <h4 class="text-primary">$19.00</h4>
                    </div>
                    <div class="store-overlay">
                        <a href="" class="btn btn-primary rounded-pill py-2 px-4 m-2">More Detail <i class="fa fa-arrow-right ms-2"></i></a>
                        <a href="" class="btn btn-dark rounded-pill py-2 px-4 m-2">Add to Cart <i class="fa fa-cart-plus ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <div class="store-item position-relative text-center">
                    <img class="img-fluid" src="~/ShopImage/HP-EliteBook-850-G5_FrontRight.png" style="max-height: 237px;" alt="">
                    <div class="p-4">
                        <div class="text-center mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <h4 class="mb-3">HP Laptop</h4>
                        <p>is a personal computer that can be easily moved and used in a variety of locations.</p>
                        <h4 class="text-primary">$499.00</h4>
                    </div>
                    <div class="store-overlay">
                        <a href="" class="btn btn-primary rounded-pill py-2 px-4 m-2">More Detail <i class="fa fa-arrow-right ms-2"></i></a>
                        <a href="" class="btn btn-dark rounded-pill py-2 px-4 m-2">Add to Cart <i class="fa fa-cart-plus ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <div class="store-item position-relative text-center">
                    <img class="img-fluid" src="~/ShopImage/r2.png" style="max-height: 237px;" alt="">
                    <div class="p-4">
                        <div class="text-center mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <h4 class="mb-3">BMW CARS</h4>
                        <p>the world's leading manufacturer of premium automobiles and motorcycles.</p>
                        <h4 class="text-primary">$95,700</h4>
                    </div>
                    <div class="store-overlay">
                        <a href="" class="btn btn-primary rounded-pill py-2 px-4 m-2">More Detail <i class="fa fa-arrow-right ms-2"></i></a>
                        <a href="" class="btn btn-dark rounded-pill py-2 px-4 m-2">Add to Cart <i class="fa fa-cart-plus ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <a href="" class="btn btn-primary rounded-pill py-3 px-5">View More Products</a>
            </div>
        </div>
    </div>
</div>
@* end Products *@


<!-- end Category-->
<!-- start Services-->
<div class="Service1 pt-5 pb-5">
    <div class="container">
        <div class="Service11 row">
            <div class="ServiceInfo col-lg-4 col-md-4 col-sm-12">
                <h1 class="fw-bold">Sell Vehicles</h1>
                <p>Cash-in an instant offer from a local dealer, or create a free listing to sell it yourself on Ashtari.com. It’s never been easier to sell your car, your way.</p>
                <a class="btn BtnCustom2 Btn">Read More <i class="fa-solid fa-caret-right"></i></a>
            </div>
            <div class="imgAnimation imgService col-lg-8 col-md-8 col-sm-12">
                <img src="~/ImagePage/VehicleBuy.png" />
            </div>
        </div>
    </div>
</div>
<div class="Service2 pt-5 pb-5">
    <div class="container">
        <div class="Service11 row">
            <div class="imgAnimation imgService col-lg-8 col-md-8 col-sm-12">
                <img src="~/ImagePage/642592df0bb1a756556043_prev_ui.png" />
            </div>
            <div class="ServiceInfo col-lg-4 col-md-4 col-sm-12">
                <h1 class="fw-bold">Buying Vehicles</h1>
                <p>Cash-in an instant offer from a local dealer, or create a free listing to sell it yourself on Ashtari.com. It’s never been easier to sell your car, your way.</p>
                <a class="btn BtnCustom1 Btn">Read More <i class="fa-solid fa-caret-right"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- end Services-->
